<!DOCTYPE html>
<html>
  <body>
      <h1>Cadastro de carro</h1>
        <form action="/cadastroDeCarro" method="POST">
          <p>
            Marca: <select name="marca">
              <option>Mercedes</option>
              <option>Bmw</option>
              <option>Audi</option>
              <option>Jaguar</option>
            </select>
          </p>
          <p>
            Modelo: <input type="text" name="modelo" value="" />
          </p>
          <p>
            Ano: <input type="number" name="ano" value="2024" />
          </p>
          <p>
            <input type="submit" value="Salvar"/>
          </p>
    </div>
  </body>
</html>